html body{
    font-family: 'Catamaran', sans-serif;
}

input[type=radio]{
    display:none;
}

.header{
    padding: 1em 0 0 0;
}

.nav-list{
    li{
        display:inline-block;
        padding: 0.5rem;
        list-style: none;
        position:relative;

        &:hover{
            cursor:hand;
            background-color: black;
            color:white;
        }
    }
}

p{
    margin: 2rem;
}

.pages{
    .page{
        display:none;
    }
}

#page-1:checked ~ .container{
    .page:nth-child(1){
        display:block;
        animation: fade-in 1s;
    }
}

#page-2:checked ~ .container{
    .page:nth-child(2){
        display:block;
        animation: fade-in 1s;
    }
}

#page-3:checked ~ .container{
    .page:nth-child(3){
        display:block;
        animation: fade-in 1s;
    }
}

#page-4:checked ~ .container{
    .page:nth-child(4){
        display:block;
        animation: fade-in 1s;
    }
}

@keyframes fade-in{
    from {opacity: 0;}
    to   {opacity: 1;}
}